@{
    Layout = null;
    var userName = Session["UserName"];
    var userEmail = Session["UserEmail"];
    var book = ViewBag.Book; 
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Leave a Book Review</title>
    <link rel="stylesheet" href="~/CSS/SiteReview.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<a href="~/home" class="home-button">
    <i class="fas fa-home"></i>
    HOME
</a>
<body>
    <h1>Leave a Book Review</h1>
    <form action="@Url.Action("AddReview", "BookReview")" method="post">
        <input type="hidden" name="book_name" value="@book.book_name" />
        <textarea id="review" name="content" rows="4" placeholder="YOUR REVIEW...." required></textarea>
        <button type="submit" class="btn btn-submit">Submit Review</button>
    </form>
</body>

</html>